# Ignore node_modules directory
node_modules/

# Ignore built files
dist/
build/

# Ignore configuration files
*.env
*.local

# Ignore TypeScript cache
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Ignore coverage reports
coverage/

# Ignore any other unwanted files
temp/
